@model SimpleCalculator.Models.CalculatorModel

<!DOCTYPE html>
<html>
<head>
    <title>Kalkulator</title>
</head>
<body>
    <h2>Prosty kalkulator</h2>
    @using (Html.BeginForm())
    {
    <div>
        <label>Liczba 1:</label>
        @Html.TextBoxFor(m => m.Number1)
    </div>
    <div>
        <label>Liczba 2:</label>
        @Html.TextBoxFor(m => m.Number2)
    </div>
    <div>
        <input type="submit" value="Dodaj" />
    </div>
    }
    @if (Model != null)
    {
    <h3>Wynik: @Model.Result</h3>
    }
</body>
</html>
